
/* facts button */
.facts{
    transition-duration: 0.4s; 
    border-radius: 20px;
    padding: 30px 60px;
    display: flex;
    justify-content: center;
  }
  .facts:hover {
    background-color: cadetblue;
    color: white;
  }
  p{
    display: flex;
    justify-content: center;
  }
